@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker|Text+Me+One|Indie+Flower');
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');





body{
 text-align:center;

 background-color:black;
 background-repeat:no-repeat;
 background-size:100%;
}
#nav{
      display: flex;
      justify-content: space-around;
      white-space: nowrap;
        font-size:30px;
    margin: 0 auto;
}
a:link{
  color:navy;
}
#nav a{
  font-family: 'Patrick Hand', cursive;
  color: red;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#nav a:hover{
  font-family: 'Permanent Marker', cursive;
  color:#1f8fff;
  text-transform: uppercase;
  margin-right: 10px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
a:visited{
  color: #3333ff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.jumbotron{
     height: 500px;
    background-color:rgba(240, 242, 255, .3) !important;
    background-size:90%;
    border: outset white 10px;
 }
 
 body {

  font-family: "Luckiest Guy", cursive;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: transparent;
}
/* CLOUDS */
body:before {
  background: transparent;
  display: block;
  box-shadow: 0 0 150px 100px rgba(255, 255, 255, 0.6),
    200px 0 200px 150px rgba(255, 255, 255, 0.6),
    -250px 0 300px 150px rgba(255, 255, 255, 0.6),
    550px 0 300px 200px rgba(255, 255, 255, 0.6),
    -550px 0 300px 200px rgba(255, 255, 255, 0.6);
}
/* JUMP */
h1 {
  cursor: default;
  
  margin: auto;
  display: block;
  text-align: center;
}

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

h1 span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

p{
 color:black;   
}
.para{
    padding:30px;
    font-size:30px;
    color: black;
text-shadow: 2px 2px 0 #80b3ff, 2px -2px 0 #80b3ff, -2px 2px 0 #80b3ff, -2px -2px 0 #80b3ff, 2px 0px 0 #80b3ff, 0px 2px 0 #80b3ff, -2px 0px 0 #80b3ff, 0px -2px 0 #80b3ff;
font-family: 'Open Sans Condensed', sans-serif;
}

.check{
text-shadow: 2px 2px 0 #e3e1e1, 2px -2px 0 #e3e1e1, -2px 2px 0 #e3e1e1, -2px -2px 0 #e3e1e1, 2px 0px 0 #e3e1e1, 0px 2px 0 #e3e1e1, -2px 0px 0 #e3e1e1, 0px -2px 0 #e3e1e1;
}

.first{
 width:500px;   
}

.image1{
  float:left;
  -moz-transform: rotate(353deg);
-webkit-transform: rotate(353deg);
-o-transform: rotate(353deg);
-ms-transform: rotate(353deg);
transform: rotate(353deg);
}
.image2{
  float:right;
-moz-transform: rotate(7deg);
-webkit-transform: rotate(7deg);
-o-transform: rotate(7deg);
-ms-transform: rotate(7deg);
transform: rotate(7deg);
}

.statement{
    font-family: "Luckiest Guy", cursive;
}
.name{
color:white;
}
.sources{
  color:white;
  font-family: 'Lacquer', sans-serif;
  font-size:30px;

}

.key{
  font-family: 'Indie Flower', cursive;
  font-size:20px;
}

.sp{
  color:white;
   font-family: 'Permanent Marker', cursive;
  font-size:20px;
text-shadow: 2px 2px 2px #CE5937;
}

.s1{
  float:left;
  -moz-transform: rotate(353deg);
-webkit-transform: rotate(353deg);
-o-transform: rotate(353deg);
-ms-transform: rotate(353deg);
transform: rotate(353deg);
}

.ok{
  float:left;
  -moz-transform: rotate(353deg);
-webkit-transform: rotate(353deg);
-o-transform: rotate(353deg);
-ms-transform: rotate(353deg);
transform: rotate(353deg);
}

.ko{
  float:right;
  -moz-transform: rotate(7deg);
-webkit-transform: rotate(7deg);
-o-transform: rotate(7deg);
-ms-transform: rotate(7deg);
transform: rotate(7deg);
}

.pf{
  width:400px;
}

.im{
    font-family: 'Indie Flower', cursive;
  font-size:30px;
  color:white;
}

.freedom{
  width:700px;
  height:600px;
  float:left;
}
